<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="source.kevtimov.landlordcommunicationapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".LandlordCommunicationApplication"
        android:allowBackup="true"
        android:appComponentFactory="some"
        android:icon="@drawable/ic_home_black_24dp"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory"
        tools:targetApi="donut">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".views.login.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.login.FacebookActivity" />
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".chat.chatRooms.ChatRoomActivity" />
        <service
            android:name=".chat.fcm.ChatMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <activity android:name=".views.login.signup.SignUpActivity" />
        <activity android:name=".views.login.placemanagement.PlaceManagementActivity" />
        <activity android:name=".views.login.addplace.AddPlaceActivity" />
        <activity android:name=".views.login.selecttenant.SelectTenantActivity" />
        <activity android:name=".views.login.selectplace.SelectPlaceActivity" />
        <activity android:name=".views.login.home.HomeActivity" />
        <activity android:name=".views.login.myplaces.MyPlacesActivity" />
        <activity android:name=".views.login.placedetails.PlaceDetailsActivity" />
        <activity android:name=".views.login.payment.PaymentActivity" />
        <activity android:name=".views.login.addcard.AddCardActivity" />
        <activity android:name=".views.login.mypayments.MyPaymentsActivity" />
        <activity android:name=".views.login.preferences.SettingsActivity" />
        <activity android:name=".views.login.myusers.MyUsersActivity" />
        <activity android:name=".views.login.userdetails.UserDetailsActivity" />
        <receiver android:name=".views.login.home.ReceiverNotification"/>
    </application>

</manifest>